    body {
        background-color: white;
        margin: 0 auto;
        float: inline-end;
    }

    .header {
        height: 90px;
        width: 100%;
        background-color: #48272b;
    }

    .header h2 {
        font-size: 30px;
        font-weight: 200px;
        text-align: center;
        padding-top:5px;
        margin-top: 0;
        color: #f0e6c3;;
    }

    .header p {
        padding-top: 0px;
        margin-top: 0px;
        font-size: 20px;
        text-align: center;
        font-style: italic;
        color: #f0e6c3;;
    }

    /*
* Main Content 
*/

    .container {
        margin-top: 2px;
        height: 700px;
        width: 100%;
        background-color: #f0e6c3;;
    }

    .col {
        float: left;
        margin-top: 5px;
    }

    /*
* Menu
*/

    .col.menu {
        width: 15%;
        height: 695px;
        background-color: #f0e6c3;;
        padding-left: 20px;
    }

    .menu-header h2 {
        text-align: center;
        font-size: 35px;
        font-weight: 100px;
        color: #48272b;
    }

    .search {
        text-align: center;
        padding-left: 10px;
    }

    .search i {
        font-size: 20px;
        margin-right: 10px;
        color: #48272b;
    }

    .search i:hover {
        text-align: center;
        font-size: 23px;
        margin-right: 10px;
        color: #8b565c;
    }

    .search input {
        outline: none;
        border-radius: 20px;
        border: 1px solid white;
        margin-left:5px;
        padding-left: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .search input:hover {
        border: 1px solid #48272b;
    }

    .vertical-menu {
        margin-top: 20px;
        text-align: center;
        /* Set a width if you like */
    }

    .vertical-menu a {
        text-align: center;
        color: #48272b;
        display: block;
        padding: 12px;
        font-size: 20px;
        font-weight: 100;
        text-decoration: none;
    }

    .vertical-menu a:hover {
        font-size: 23px;
        font-weight: 120;
        background-color: rgb(218, 214, 202);
        color: #8b565c;
        /* Dark grey background on mouse-over */
    }

    .vertical-menu a.active {
        font-size: 23px;
        font-weight: 120;
        background-color: rgb(218, 214, 202);
        color: #8b565c;
    }

    /*
* Everyday
*/

    .col.every {
        padding-top: 30px;
        width: 38%;
        height: 665px;
        background-color: #f0e6c3;;
        padding-left: 20px;
        padding-right: 20px;
    }

    .ev {
        float: left;
        width: 100%;
        height: 350px;
        background-color: rgba(255, 255, 255, 0.5); 
        border-radius: 15px;
    }

    .ev_header {
        margin-top: -21px;
        width: 100%;
        height: 70px;
        background-color: rgb(255 255 255 / 0%);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .ev_header h2 {
        font-size: 25px;
        font-weight: 500px;
        padding: 20px 10px 0px 30px;
        color: #2799cc;
    }

    .ev_content {
        width: 90%;
        height: 220px;
        overflow: auto;
        padding-left: 20px;
    }

    .ev_content li {
        user-select: none;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    .ev_content li input{
        float: left;
        width: 5%;
    }
    .ev_content li label{
        padding-left: 10px;
        float: left;
        width: 90%;
    }
    .ev_content li i {
        float: right;
        width: 5%;
        font-size: 20px;
        cursor: pointer;
        padding: 5px 10px;
    }
    .ev_content li i.ev_delete{
        color: red;
    }
    .ev_content li i.ev_edit{
        color: #1495f1;
    }
    .ev_content input[type=checkbox] {
        display: none
    }

    .ev_content input[type=checkbox]+label {
        color: #b69d10;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        border-radius: 3px;
        display: inline-block;
        padding: 5px 5px 5px 30px;
    }

    .ev_content  input[type=checkbox]+label:hover {
        color: #b69d10;
        font-size: 16px;
    }

    .ev_content input[type=checkbox]+label span.check {
        left: 4px;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        display: block;
        background: white;
        border-radius: 3px;
        border: 1px solid #b8bfcc;
        box-shadow: 0 2px 3px #F0F4F8;
    }

    .ev_content input[type=checkbox]:checked+label {
        color: #AEB7C6;
        text-decoration: line-through;
    }

    .ev_content  input[type=checkbox]:checked+label span.check {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }

    .ev_content input[type=checkbox]+label span.check::after {
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        position: absolute;
        background-image: url('https://tjgillweb.github.io/Vacation-Todo-App/images/tick.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
        transform: scale(0);
        transition: transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
    }

    .ev_content input[type=checkbox]:checked+label span.check::after {
        transform: scale(1);
    }

    .ev_content input[type=checkbox]+label span.check::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        position: absolute;
        border-radius: 50%;
        background: #8798AA;
        opacity: .8;
        transform: scale(0);
    }

    .ev_content input[type=checkbox]:checked+label span.check::before {
        opacity: 0;
        transform: scale(1.3);
        transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
    }

    .ev_footer {
        width: 100%;
        height: 60px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .ev_footer h2 {
       
        font-size: 30px;
        text-align: center;
        padding: 10px 0px 0px 0px;
        margin: 2px 0px 0px 0px;
    }

    .ev_footer h2 button {
        outline: none;
        font-size: 30px;
        border: none;
        background-color: rgb(255 255 255 / 0%);
        text-decoration: none;
        color: #48272b;
    }

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 200px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */

    .modal-content {
        background-color: rgba(255, 255, 255, 0.9);
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 25%;
        height: 210px;
        border-radius: 15px;
    }

    .modal-header {
        width: 100%;
        height: 30px;
        color: red;
    }

    .modal-header span:hover {
        color: #ff0000;
        font-weight: 200%;
    }

    .modal-main {
        padding-top: 10px;
        width: 100%;
        height: 130px;
        text-align: center;
    }

    .modal-name {
        float: left;
        width: 100%;
        height: 43px;
    }

    .modal-time {
        float: left;
        width: 100%;
        height: 43px;
    }

    .modal-potision {
        float: left;
        width: 100%;
        height: 43px;
    }

    .m-title {
        float: left;
        width: 30%;
        height: 43px;
        text-align: left;
    }

    .m-title p {
        text-align: left;
        color: #48272b;
        font-size: 15px;
    }

    .m-input {
        float: left;
        width: 70%;
        height: 43px;
        padding-top: 5px;
    }

    .m-input input {
        border-radius: 10px;
        outline: none;
        width: 90%;
        color: #b69d10;
        padding: 7px 7px 7px 7px;
        border: 0.5px solid #000;
    }

    .m-input input:hover {
        border: 0.5px solid #2799cc;
    }

    .modal-footer {
        font-size: 30px;
        text-align: center;
        padding: 10px;
        width: 100%;
        height: 30px;
        justify-items: center;
    }

    .modal-footer .btnA {
        float: left;
        width: 50%;
        height: 30px;
    }

    .btnA button {
        outline: none;
        font-size: 15px;
        border-radius: 15px;
        color: #00ff00;
        background-color: white;
        border: 0.5px solid #00ff00;
    }

    .btnA button:hover {
        border: 1px solid #fff;
        background-color: #00ff00;
        color: white;
    }

    .modal-footer .btnB {
        float: left;
        width: 50%;
        height: 30px;
    }

    .btnB button {
        outline: none;
        font-size: 15px;
        border-radius: 15px;
        color: #ff0000;
        background-color: white;
        border: 0.5px solid #ff0000;
    }

    .btnB button:hover {
        border: 1px solid #fff;
        background-color: #ff0000;
        color: white;
    }

    /* The Close Button */

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .re {
        float: left;
        height: 260px;
        width: 100%;
        background-color: #48272b;
        margin-top: 20px;
        border-radius: 15px;
    }

    .re_header {
        margin-top: -21px;
        width: 100%;
        height: 70px;
        background-color: #48272b;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .re_header h2 {
        font-size: 25px;
        font-weight: 500px;
        padding: 20px 10px 0px 30px;
        color: white;
        text-align: center;
    }

    .re_container {
        float: none;
        width: 96.5%;
        height: 180px;
        background-color: rgb(255 255 255 / 94%);
        border-radius: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .re_content {
        padding-top: 10px;
        width: 89%;
        height: 120px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: auto;
        padding-left: 20px;
    }

    .re_content li {
        user-select: none;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    .re_content li input{
        float: left;
        width: 5%;
    }
    .re_content li label{
        padding-left: 10px;
        float: left;
        width: 80%;
    }
    .re_content li label div.rd_name{
        width: 100%;
        float: left;
        padding-left: 10px; 
    }
    .re_content li label div.rd_time{
        width: 40%;
        float: left;
        padding-left: 10px;
        color: #000;
    }
    .re_content li label div.rd_where{
        width: 40%;
        float: left;
        padding-left: 10px;
        color: #000;
    }
    .re_content li i {
        float: right;
        width: 5%;
        font-size: 20px;
        cursor: pointer;
        padding: 5px 10px;
    }
    .re_content li i.r_delete{
        padding-top: 15px;
        color: red;
    }
    .re_content li i.r_edit{
        color: #1495f1;
        padding-top: 15px;
    }
    .re_content input[type=checkbox] {
        display: none
    }

    .re_content input[type=checkbox]+label {
        color: #b69d10;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        border-radius: 3px;
        display: inline-block;
        padding: 5px 5px 5px 30px;
    }

    .re_content  input[type=checkbox]+label:hover {
        color: #b69d10;
        font-size: 16px;
    }

    .re_content input[type=checkbox]+label span.r_check {
        left: 4px;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        display: block;
        background: white;
        border-radius: 3px;
        border: 1px solid #b8bfcc;
        box-shadow: 0 2px 3px #F0F4F8;
    }

    .re_content input[type=checkbox]:checked+label div.rd_name{
        color: #AEB7C6;
        text-decoration: line-through;
        padding-top: 6px;
    }
    .re_content input[type=checkbox]:checked+label div.rd_time{
        color: #AEB7C6;
        display: none;
    }
    .re_content input[type=checkbox]:checked+label div.rd_where{
        color: #AEB7C6;
        display: none;
    }
    .re_content  input[type=checkbox]:checked+label span.r_check {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }
    .re_content  input[type=checkbox]:checked+ i.r_delete {
        padding-top: 0px;
    }

    .re_content input[type=checkbox]+label span.r_check::after {
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        position: absolute;
        background-image: url('https://tjgillweb.github.io/Vacation-Todo-App/images/tick.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
        transform: scale(0);
        transition: transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
    }

    .re_content input[type=checkbox]:checked+label span.r_check::after {
        transform: scale(1);
    }

    .re_content input[type=checkbox]+label span.r_check::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        position: absolute;
        border-radius: 50%;
        background: #8798AA;
        opacity: .8;
        transform: scale(0);
    }

    .re_content input[type=checkbox]:checked+label span.r_check::before {
        opacity: 0;
        transform: scale(1.3);
        transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
    }

    .re_footer {
        width: 100%;
        height: 60px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .re_footer h2 {
        font-size: 30px;
        text-align: center;
        padding: 10px 0px 0px 0px;
        margin: 2px 0px 0px 0px;
    }

    .re_footer h2 button {
        outline: none;
        font-size: 30px;
        border: none;
        background-color: rgb(255 255 255 / 0%);
        text-decoration: none;
        color: #48272b;
    }

    /*
* Today
*/

    .col.today {
        padding-top: 30px;
        width: 40%;
        height: 665px;
        background-color: #f0e6c3;;
        padding-right: 10px;
    }

    .t_container {
        width: 100%;
        height: 630px;
        background-color: rgb(255,255,255,0.5);
        border-radius: 25px;
    }

    .t_header {
        width: 100%;
        height: 70px;
        background-color: rgb(255 255 255 / 0%);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .t_title {
        float: left;
        width: 50%;
        height: 70px;
    }

    .t_title h2 {
        text-align: left;
        font-size: 25px;
        font-weight: 500px;
        padding: 2px 10px 0px 30px;
        color: #48272b;
    }

    .t_time {
        float: left;
        width: 50%;
        height: 70px;
    }

    .t_time h2 {
        text-align: right;
        font-size: 25px;
        font-weight: 500px;
        padding: 2px 30px 0px 10px;
        color: #48272b;
    }

    /*list*/

    .t_content {
        width: 90%;
        padding-left: 20px;
        height: 465px;
        background-color: rgb(255 255 255 / 0%);
        overflow: auto;
    }
    .t_content li {
        user-select: none;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    .t_content li input{
        float: left;
        width: 5%;
    }
    .t_content li label{
        padding-left: 10px;
        float: left;
        width: 80%;
    }
    .t_content li label div.td_name{
        width: 100%;
        float: left;
        padding-left: 10px; 
    }
    .t_content li label div.td_time{
        width: 40%;
        float: left;
        padding-left: 10px;
        color: #000;
    }
    .t_content li label div.td_where{
        width: 40%;
        float: left;
        padding-left: 10px;
        color: #000;
    }
    .t_content li i {
        float: right;
        width: 5%;
        font-size: 20px;
        cursor: pointer;
        padding: 5px 10px;
    }
    .t_content li i.t_delete{
        padding-top: 15px;
        color: red;
    }
    .t_content li i.t_edit{
        color: #1495f1;
        padding-top: 15px;
    }
    .t_content input[type=checkbox] {
        display: none
    }

    .t_content input[type=checkbox]+label {
        color: #b69d10;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        border-radius: 3px;
        display: inline-block;
        padding: 5px 5px 5px 30px;
    }

    .t_content  input[type=checkbox]+label:hover {
        color: #b69d10;
        font-size: 16px;
    }

    .t_content input[type=checkbox]+label span.t_check {
        left: 4px;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        display: block;
        background: white;
        border-radius: 3px;
        border: 1px solid #b8bfcc;
        box-shadow: 0 2px 3px #F0F4F8;
    }

    .t_content input[type=checkbox]:checked+label div.td_name{
        color: #AEB7C6;
        text-decoration: line-through;
        padding-top: 6px;
    }
    .t_content input[type=checkbox]:checked+label div.td_time{
        color: #AEB7C6;
        display: none;
    }
    .t_content input[type=checkbox]:checked+label div.td_where{
        color: #AEB7C6;
        display: none;
    }
    .t_content  input[type=checkbox]:checked+label span.t_check {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }
    .t_content  input[type=checkbox]:checked+ i.t_delete {
        padding-top: 0px;
    }

    .t_content input[type=checkbox]+label span.t_check::after {
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        position: absolute;
        background-image: url('https://tjgillweb.github.io/Vacation-Todo-App/images/tick.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
        transform: scale(0);
        transition: transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
    }

    .t_content input[type=checkbox]:checked+label span.t_check::after {
        transform: scale(1);
    }

    .t_content input[type=checkbox]+label span.t_check::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        position: absolute;
        border-radius: 50%;
        background: #8798AA;
        opacity: .8;
        transform: scale(0);
    }

    .t_content input[type=checkbox]:checked+label span.t_check::before {
        opacity: 0;
        transform: scale(1.3);
        transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
    }
  
    .t_footer {
        width: 100%;
        height: 60px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .t_footer h2 {
        font-size: 50px;
        text-align: center;
        padding: 20px 0px 0px 0px;
        margin: 2px 0px 0px 0px;
    }

    .t_footer h2 button {
        outline: none;
        font-size: 40px;
        border: none;
        background-color: rgb(255 255 255 / 0%);
        text-decoration: none;
        color: #48272b;
    }